page {
    background-color: #F7F8FA;
}

.apply {
    padding: 12px 0 77px;
    .block {
        background-color: #fff;
        border-radius: 6px;
        padding: 0 12px;
        margin-top: 12px;
        &:first-child {
            margin-top: 0;
        }
    }
    .form-row {
        padding: 12px 0;
        font-size: 14px;
        border-bottom: 1px solid #F2F3F5;
        .label {
            width: 75px;
            font-size: 14px;
            color: #333;
            position: relative;
            &.require::after {
                position: absolute;
                content: "*";
                left: -6px;
                top: 0;
                color: #fa2c19;
            }
        }
        .input {
            font-size: 14px;
        }
        .textarea {
            margin-top: 12px;
            background-color: #F7F8FA;
            width: 100%;
            box-sizing: border-box;
            border-radius: 6px;
            padding: 12px;
            font-size: 14px;
        }
    }

    .upload-title {
        color: #999;
        font-size: 12px;
        margin-top: 20px;
        padding: 12px 0;
        .w {
            font-size: 16px;
            color: #333;
            margin-right: 6px;
        }
    }
    .img-list {
        margin-top: 12px;
        .img-item {
            width: 60px;
            height: 60px;
            border-radius: 6px;
            margin-right: 6px;
            margin-bottom: 12px;
            position: relative;
            .il-img {
                width: 100%;
                height: 100%;
            }
            .at-icon-close-circle {
                position: absolute;
                right: 12px;
                top: 12px;
                color: #fff;
            }
        }
        .camera {
            box-sizing: border-box;
            border: 1px dashed #999;
            .at-icon-camera {
                color: #999;
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 12px;
        background-color: #fff;
        z-index: 9;
        height: 65px;
        .button {
            width: 100%;
        }
    }
}