page {
    background-color: #F7F8FA;
}

.apply {
    padding: 24px 0 154px;
    .block {
        background-color: #fff;
        border-radius: 24px;
        padding: 0 24px;
        margin-top: 24px;
        &:first-child {
            margin-top: 0;
        }
    }
    .form-row {
        padding: 24px 0;
        border-bottom: 1px solid #F2F3F5;
        .label {
            width: 150px;
            font-size: 28px;
            color: #333;
        }
        .input {
            font-size: 28px;
        }
        .textarea {
            margin-top: 24px;
            background-color: #F7F8FA;
            width: 100%;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 24px;
            font-size: 28px;
        }
    }

    .upload-title {
        color: #999;
        font-size: 24px;
        margin-top: 42px;
        padding: 24px 0;
        .w {
            font-size: 32px;
            color: #333;
            margin-right: 12px;
        }
    }
    .img-list {
        margin-top: 24px;
        .img-item {
            width: 120px;
            height: 120px;
            border-radius: 12px;
            margin-right: 24px;
            margin-bottom: 24px;
            position: relative;
            .il-img {
                width: 100%;
                height: 100%;
            }
            .at-icon-close-circle {
                position: absolute;
                right: 12px;
                top: 12px;
                color: #fff;
            }
        }
        .camera {
            box-sizing: border-box;
            border: 1px dashed #999;
            .at-icon-camera {
                color: #999;
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 24px;
        background-color: #fff;
        height: 130px;
        .button {
            width: 100%;
        }
    }
}