.login {
    padding: 0 24px;
    .row {
        padding: 24px 0;
        .label {
            width: 120px;
            font-size: 36px;
        }
    }
    .confirm-btn {
        margin-top: 120px;
    }
}