.login {
    padding: 0 12px;
    .row {
        padding: 12px 0;
        .label {
            width: 60px;
            font-size: 18px;
        }
    }
    .confirm-btn {
        margin-top: 60px;
        .button {
            width: 100%;
        }
    }
}