.order {
    padding: 0 12px 12px;
    .item {
        color: #333;
        background-color: #eee;
        border-radius: 6px;
        padding: 12px;
        margin-bottom: 12px;
        .head {
            font-size: 16px;
            font-weight: bold;
            padding: 12px 0;
        }
        .left {
            .desc {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}