.order {
    padding: 0 24px;
    .item {
        color: #333;
        background-color: #eee;
        border-radius: 24px;
        padding: 24px;
        margin-bottom: 24px;
        .head {
            font-size: 32px;
            font-weight: bold;
            padding: 12px 0;
        }
        .left {
            .desc {
                font-size: 28px;
                line-height: 48px;
            }
        }
    }
}