.message {
    padding: 0 24px;
    .item {
        color: #333;
        background-color: #F7F8FA;
        border-radius: 24px;
        padding: 24px;
        margin-bottom: 24px;
        .left {
            .title {
                font-size: 36px;
                font-weight: bold;
            }
            .desc {
                font-size: 28px;
                color: #666;
                margin-top: 24px;
            }
        }
    }
}