.message {
    padding: 0 12px;
    .item {
        color: #333;
        background-color: #F7F8FA;
        border-radius: 6px;
        padding: 12px;
        margin-bottom: 12px;
        .left {
            .title {
                font-size: 18px;
                font-weight: bold;
            }
            .desc {
                font-size: 14px;
                color: #666;
                margin-top: 12px;
            }
        }
    }
}