page {
    height: 100%;
}
.author {
    height: 100%;
    padding: 0 25px;
    .author-btn {
        width: 100%;
        background-color: #6190E8;
        font-size: 16px;
        color: #fff;
    }
    .author-btn-left {
        margin-right: 20px;
    }
}