page {
    background-color: #F7F8FA;
    min-height: 100%;
}

.edit-user {
    padding: 24px;
    .input {
        background-color: #fff;
        border-radius: 12px;
        font-size: 32px;
        padding: 24px;
    }
    .confirm-btn {
        position: fixed;
        bottom: 24px;
        left: 24px;
        right: 24px;
    }
}