.news {
    padding: 0 12px;
    .item {
        padding: 12px;
        color: #333;
        background-color: #F7F8FA;
        border-radius: 6px;
        margin-bottom: 12px;
        .left {
            margin-right: 6px;
            .title {
                font-size: 18px;
                font-weight: bold;
                color: #333;
            }
            .desc {
                font-size: 12px;
                color: #666;
                margin-top: 12px;
            }
        }
        .at-icon-chevron-right {

        }
    }
}