.edit-psd {
    padding: 0 12px;
    .row {
        padding: 12px 0;
        border-bottom: 1px solid #EBEDF0;
        .label {
            width: 90px;
            font-size: 18px;
        }
    }
    .confirm-btn {
        margin-top: 60px;
    }
}