.edit-psd {
    padding: 0 24px;
    .row {
        padding: 24px 0;
        border-bottom: 1px solid #EBEDF0;
        .label {
            width: 180px;
            font-size: 36px;
        }
    }
    .confirm-btn {
        margin-top: 120px;
    }
}