page {
    background-color: #F7F8FA;
    min-height: 100%;
}
.my {
    .top {
        padding: 12px;
        background-color: #6190E8;
        color: #fff;
        .head-img {
            width: 60px;
            height: 60px;
            border-radius: 60px;
            margin-right: 6px;
        }

        .name {
            font-size: 18px;
            font-weight: bold;
        }
    }
    .menu {
        padding: 12px 0;
        text-align: center;
        background-color: #6190E8;
        color: #fff;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 1px;
            transform: scaleY(0.5);
            background-color: #FAFBFC;
        }
        &-item {
            width: 50%;
            .amount {
                font-size: 24px;
                font-weight: bold;
            }
            .text {
                font-size: 16px;
                margin-top: 4px;
            }
        }
    }

    .utils {
        margin-top: 12px;
        padding: 0 12px;
        .title {
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }
        .list {
            margin-top: 20px;
            background-color: #fff;
            border-radius: 6px;
            padding: 12px 0;
            .item {
                width: 25%;
                .u-icon {
                    width: 35px;
                    height: 35px;
                }
                .u-text {
                    font-size: 14px;
                    color: #666;
                    margin-top: 12px;
                }
            }
        }
    }

    .exit-btn {
        margin-top: 30px;
        padding: 0 12px;
        .exchange {
            margin-bottom: 12px;
            width: 100%;
        }
        .exit {
            width: 100%;
        }
    }
}