page {
    background-color: #F7F8FA;
    min-height: 100%;
}
.my {
    .top {
        padding: 24px;
        background-color: #6190E8;
        color: #fff;
        .head-img {
            width: 120px;
            height: 120px;
            border-radius: 120px;
            margin-right: 24px;
        }

        .name {
            font-size: 36px;
            font-weight: bold;
        }
    }
    .menu {
        padding: 24px 0;
        text-align: center;
        background-color: #6190E8;
        color: #fff;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 2px;
            transform: scaleY(0.5);
            background-color: #FAFBFC;
        }
        &-item {
            width: 50%;
            .amount {
                font-size: 48px;
                font-weight: bold;
            }
            .text {
                font-size: 32px;
                margin-top: 8px;
            }
        }
    }

    .utils {
        margin-top: 24px;
        padding: 0 24px;
        .title {
            font-size: 32px;
            font-weight: bold;
            color: #333;
        }
        .list {
            margin-top: 42px;
            background-color: #fff;
            border-radius: 24px;
            padding: 24px 0;
            .item {
                width: 25%;
                .u-icon {
                    width: 100px;
                    height: 100px;
                }
                .u-text {
                    font-size: 32px;
                    color: #666;
                    margin-top: 12px;
                }
            }
        }
    }

    .exit-btn {
        margin-top: 120px;
        padding: 0 24px;
    }
}