.new-detail {
    padding: 0 12px;
    .title {
        font-size: 18px;
        font-weight: bold;
        line-height: 2;
    }
    .content {
        font-size: 14px;
        image {
            width: 100%;
        }
    }
}